sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t alex/complex -f ./client/Dockerfile.dev .

script:
  - docker run -e CI=true alex/complex npm test -- --coverage

after_success:
  - docker build -t alex/multi-client ./client
  - docker build -t alex/multi-nginx ./nginx
  - docker build -t alex/multi-server ./server
  - docker build -t alex/multi-worker ./worker

# login docker hub
- echo "DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# push images to doker hub
- docker push alex/multi-client 
- docker push alex/multi-nginx
- docker push alex/multi-server
- docker push alex/multi-worker